<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Francisco Javier Sicilia Pérez
    </ion-title>
  </ion-toolbar>
</ion-header>

  <div id="container">
    <p>
      <ion-button [routerLink]="['../persons']">Personas</ion-button>
      <ion-button [routerLink]="['../tasks']">Tareas</ion-button>
      <ion-button [routerLink]="['../assign-tasks']">Asignar tareas</ion-button>
      <ion-button [routerLink]="['../assigned-tasks']">Tareas asignadas</ion-button>
    </p>
  </div>
</ion-content>