<ion-header>
  <ion-toolbar>
    <ion-title>Personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Francisco Javier Sicilia Pérez</h1>
    <p>
      <ion-button [routerLink]="['../home']">Home</ion-button>
    </p>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col *ngFor="let p of getPersons()" size="9" size-sm="3" class="ion-align-self-center">
          <app-people [p]="person"></app-people>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
