<ion-card>
  <ion-card-header>
    <img src="\assets\user.png">
    <ion-card-subtitle>{{task.description}</ion-card-subtitle>
    <ion-card-title>{{task.name}} {{task.dataTimeSeg}}</ion-card-title>
    <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="pencil-sharp"></ion-icon></ion-button>
    <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-sharp"></ion-icon></ion-button>
  </ion-card-header>
</ion-card>